<head th:fragment="head">
	<title>Home ||| mudi</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<style type="text/css">
		.logo-container {
			background-color: #47BCFF;
			color: #FFFFFF;
		}
	</style>
</head>

<div th:fragment="logo" class="logo-container mb-3 p-3 d-flex justify-content-between">
	<span>mudi</span>
	<span>login</span>
</div>

<div th:fragment="titulo(texto)" class="jumbotron mb-0">
	<h1 class="display-4" th:text="${texto}"></h1>
</div>